/****** Font styles *******/
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald.ttf") format("truetype");
}

.oswald {
  font-family: "Oswald",sans-serif;
}

/******* Color styles ******/
/******* MAIN styles ********/
.container {
  overflow-y: hidden;
}

.container .cube {
  position: absolute;
  left: -300px;
  top: 50px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  width: 600px;
  height: 600px;
  background-color: #F1B301;
  border: solid 1px black;
}

.container .cube p {
  font-size: 60px;
  color: black;
  margin-left: 200px;
}

.container .cubed {
  position: absolute;
  left: -300px;
  top: 180px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  width: 600px;
  height: 600px;
  background-color: #F1B301;
  border: solid 1px black;
}

.container .cubed p {
  font-size: 60px;
  color: black;
  margin-left: 200px;
}

.container .card {
  border: 1px solid black;
}

.container .card .card-header {
  background-color: #000000;
}

.container .card .card-header h3 {
  color: #F1B301;
}

.container .card .card-body {
  background-color: #F1B301;
}

.container .card .card-body textarea {
  height: 100px;
}

.container .card .card-body .btn {
  width: 80px;
  height: 45px;
}

.container .card .card-body .btn p {
  font-size: 20px;
}
